
body {
    font-family: 'Roboto', 'sans-serif';
        color: #212121;
        font-size: 14px;

}

.main-site
{
    font-size:26px;
    font-weight:700;
}

.footer-site
{
font-size: 26px;
font-weight: 700;
}

.footer
{
    background-color: #2F303A;
}
.main-nav
{
    color:#000000;
}

.header-contakt 
{
font-weight: 500;
color: #757575;
}

.footer-contakt
{
    color: #FFFFFF60;
}

.maps
{
color: #FFFFFF;
}

.nav-links 
{
    color: #212121;
    font-weight: 500
}

a
{
    text-decoration: none;
}

.button-portfolio
{
    background-color: #F5F4FA;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}


.button-portfolio:hover, :focus
{
        background-color: #2196F3;
        color: #FFFFFF;
    }
.text
{
    color:#757575;
    font-size: 16px;
    font-weight: 400;    
}

.text-2 
{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    
}

.main-news 
{
background-color: #2F303A;
text-align: center;
}

.post-title 
 {
    color:#FFFFFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
}

.post-button 
{
    color:#FFFFFF;
    background-color:#2196F3;
    font-size: 16px;
    font-weight: 700;    
}

.header-section
{
    text-align: center;
    font-size:36px;
    font-weight:700;
}

.our-crew-h3
{
    font-size: 16px;
    font-weight:500;
    
}

.our-crew-text, .our-crew-h3
{
    text-align: center;
    
}
